main {
    height: 50px;
}

.cube {
    width: 200px;
    height: 100px;
    background-color: black;
    color: black;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main:hover .cube {    
    animation-name: bouge;
    animation-duration: 3s; 
}

@keyframes bouge {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(300px) translateY(0);
        background-color: rgb(56, 124, 187);
    }

    0% {
        transform: translateX(0) translateY(0);
    }

}

@media screen and (max-width: 800px) {

    @keyframes bouge {
        0% {
            transform: translateX(0) translateY(0);
        }
    
        50% {
            transform: translateX(100px) translateY(0);
            background-color: rgb(56, 124, 187);
        }
    
        0% {
            transform: translateX(0) translateY(0);
        }
    
}

}

.rotation {
    display: block;
    margin: 40px auto;
    animation: 3s infinite linear tourne;
}

@keyframes tourne {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}